* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(83, 83, 83) url(asteroidbg.webp) no-repeat fixed center
    center/cover;
  /*   /https://www.unrealengine.com/marketplace/en-US/product/asteroid-field-with-asteroid-stations-pack */
  font-family: "Nova Mono", monospace;
  height: 100vh;
  color: white;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00,
    0 0 40px #00ff00, 0 0 50px #00ff00, 0 0 60px #00ff00, 0 0 70px #00ff00;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.743);
  z-index: -1;
}
#muteButton {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
#layer {
  height: 100%;
  width: 100%;
}
h1,
p,
#gameButtons,
#circles {
  padding: 2rem;
}
h2,
h3,
p {
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
}
h1 {
  font-size: 3rem;
  color: white;
}

#circles {
  display: flex;
  flex-direction: row;
}
.circle {
  display: flex;
  height: 20vh;
  width: 20vh;
  background: rgba(83, 83, 83, 0) url(asteroid.png) no-repeat center
    center/cover;
  padding: 2rem;
  border: none;
  border-color: #ffffff;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  /* text-align: center; */
}
.circle.bg {
  background: rgba(0, 0, 0, 0);
  border: solid;
  border-width: 0.5px;
  border-color: white;
}
.btn {
  padding: 0.5rem;
  background-color: hsla(0, 0%, 0%, 0.277);
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px;
  font-family: inherit;
  width: 15rem;
  font-size: inherit;
  /*  box-shadow: none; */
  color: white;
}
.overlay {
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: none;
}
.overlay.visible {
  display: flex;
}
.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.775);
  color: #ffffff;
  font-family: inherit;
  font-size: 1.3rem;
  height: 50vh;
  width: 50vw;
  border-style: solid;
  border-width: 1px;
  border-radius: 100%;
  /*   box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff,
    0 0 40px #00ff00, 0 0 50px #00ff00, 0 0 60px #00ff00, 0 0 70px #00ff00; */
  padding: 2rem;
  position: absolute;
  top: 100px;
  justify-content: center;
  text-align: center;
}
.btn.close {
  position: absolute;
  bottom: 2rem;
  padding: 0.5rem;
  background-color: rgba(4, 4, 4, 0.22);
  color: #ffffff;
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px;
  font-family: inherit;
  width: 40%;
  font-size: inherit;
  /* box-shadow: none; */
}
#close {
  display: flex;
  justify-content: center;
}
.btn.last {
  display: none;
}
.btn.hide {
  display: none;
}
.btn.end {
  display: block;
  background-color: rgba(0, 0, 0, 0.255);
  box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px;
}
@media (max-width: 576px) {
  #circles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  body {
    text-align: center;
  }
  h1,
  p,
  #gameButtons,
  #circles {
    padding: 1rem;
  }
  .circle {
    height: 110px;
    width: 110px;
    margin: 0;
    padding: 0;
  }
  h1 {
    text-align: center;
  }
  .modal {
    height: 50%;
    width: 90%;
    font-size: 1.1rem;
  }
  form {
    padding-top: 0px;
  }
}
@media (max-height: 450px) {
  h1,
  p,
  #gameButtons,
  #circles {
    padding: 0.5rem;
  }
  form {
    padding-top: 0.2rem;
  }
  .circle {
    height: 110px;
    width: 110px;
  }
  h1 {
    padding-top: 0rem;
    margin-top: 0rem;
  }
  .modal {
    height: 90%;
    width: 90%;
    top: 10px;
  }
}
